<div ng-controller="CampaignController" ng-init="init()" class="campaign-view">

    <div class="show-add-campaign" collapse="addCampaign" ng-click="showAddCampaign(true)">{{dict.campaign.createNewCampaign}}</div>

	<div class="create-campaign clearfix" collapse="!addCampaign">
        <div class="hide-add-campaign">
            <button class="btn-primary" ng-click="saveCampaign()">{{dict.campaign.createCampaign}}</button> <button class="btn-warning" ng-click="cancelCampaign()">{{dict.campaign.cancel}}</button>
        </div>
		<form>
			<div class="campaign-details">
				<label>{{dict.campaign.campaignName}}
				<input maxlength="25" type="text" ng-model="campaignName" name="campaignName">
				</label>
				<label for="campaignDescription">{{dict.campaign.campaignDescription}}</label>
				<textarea maxlength="240" ng-model="campaignDescription" name="campaignDescription" id="campaignDescription" cols="10" rows="3"></textarea>

			</div>
			<div class="campaign-image-select">
				<div class="image-campaign">
					<h4>{{dict.campaign.addMore}}</h4>
					<ul>
						<li class= "image-item" ng-repeat="image in repoImages">
							<div class="image-container">
								<img class="thumb" ng-src="{{image.secure_url}}" id="{{image.friendlyName}}"/>
							</div>	
							<div class="image-details">
								<span class="name">{{image.friendlyName}}</span>
								<button class="btn-primary"	ng-click="addImage($index)">{{dict.campaign.addImage}}</button>
								
							</div>
						</li>
					</ul>
				</div>
				<div class="image-campaign">
					<h4>{{dict.campaign.imagesInCampaign}}</h4>
					<ul>
						<li class= "image-item" ng-repeat="image in selectedImages track by $index">
							<div class="image-container">
								<img class="thumb" ng-src="{{image.secure_url}}"/>
							</div>
							<span class="name">{{image.friendlyName}}</span>
							<button class="btn-danger" ng-click="removeImage($index)">{{dict.campaign.removeImage}}</button>
						</li>
					</ul>
			</div>
			</div>
		</form>
	</div>
	<div class="list-view" collapse="addCampaign">
        <div class="heading">
            <span class="campaign-title">{{dict.campaign.campaignNameDesc}}</span>
            <span class="images-title">{{dict.campaign.images}}</span>
            <span class="actions-title">{{dict.campaign.actions}}</span>
        </div>

        <div class="show-campaigns">
            <div class="campaign-container">
                <ul class="campaign-list">
                    <li ng-repeat="campaign in campaigns">
                        <div class="col-1">
                            <span class="campaign-name">{{campaign.name}}</span>
                            <span>{{campaign.description}}</span>
                            <span><em>{{dict.campaign.totalImages}}: {{campaign.images.length}}</em></span>
                        </div>

                        <div class="image-container">
                            <img class="thumb" ng-repeat="image in campaign.images | limitTo:5" ng-src="{{image.secure_url}}" alt="{{image.friendlyName}}">
                        </div>

                        <div class="col-3">
                            <button class="btn-danger" ng-click="deleteCampaign($index)">{{dict.campaign.deleteList}}</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>