<div ng-controller="ImageController" ng-init="init()">
    <h4>{{dict.images.addNewImage}}</h4>
    <form action="/api/saveImage" method="POST" enctype="multipart/form-data">
        <input type="file" required="true"name="imageFileName">
        <label for="friendlyName">{{dict.images.imageName}}</label>
        <input type="text" required="true" name="friendlyName" id="friendlyName" placeholder="{{dict.images.imageNamePlaceholder}}"/>
        <button type="submit">{{dict.images.saveImage}}</button>
    </form>
    <div class="image-list">
        <h4>{{dict.images.imageList}}</h4>
        <div class="image-list-container">
            <ul>
                <li ng-repeat="image in imageData">
                    <img ng-click="setPreview($index)" class="thumb" ng-src="{{image.secure_url}}" id="{{image.friendlyName}}" alt="{{image.friendlyName}}"/>
                    <div class="image-details">
                        <p>
                            <span class="name" ng-click="setPreview($index)">{{image.friendlyName}}</span>
                            <span class="size">{{convertBytes(image.bytes)}}</span>
                        </p>
                        <p class="date">
                            <span>{{dict.images.createdOn}}:</span>
                            <span ng-bind="convertToDate(image.created_at) | date:'short'"></span>
                        </p>
                        <button class="button" ng-click ="deleteImage($index)">Delete {{image.friendlyName}}</button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="image-preview">
        <h4>{{dict.images.imagePreview}}: {{imagePreviewText}}</h4>
        <div class="image-preview-container">
            <img ng-src="{{imagePreview}}" id="{{imagePreviewText}}" alt="{{imagePreviewText}}"/>
        </div>
        <div class="preview-text">
            <span ng-bind="convertToDate(imagePreviewDate) | date:'short'"></span>
            <span class="size">{{convertBytes(imagePreviewSize)}}</span>
        </div>
     </div>
</div>
