<div ng-controller="ImageController" ng-init="init()">
    <h4>{{dict.images.addNewImage}}</h4>
    <form action="/api/saveImage" method="POST" enctype="multipart/form-data">
        <input type="file" name="imageFileName">
        <label for="friendlyName">{{dict.images.imageName}}</label>
        <input type="text" name="friendlyName" id="friendlyName" placeholder="{{dict.images.imageNamePlaceholder}}"/>
        <button type="submit">{{dict.images.saveImage}}</button>
    </form>
    <div class="image-list">
        <ul>
            <li ng-repeat="image in imageData">
                <img class="thumb" ng-src="{{image.secure_url}}" id="{{image.friendlyName}}"/>
                <span>{{image.friendlyName}}</span>
                <span>{{convertBytes(image.bytes)}}</span>
            </li>
        </ul>
    </div>

</div>
