<div ng-controller="ScheduleController" ng-init="init()">
    <div class="create-schedule">
        <h4>{{dict.schedule.scheduleCampaign}}</h4>
        <div class="create-schedule-container">
            <newscheduleitem></newscheduleitem>
        </div>
    </div>
    <div class="show-schedule">
        <h4>{{dict.schedule.showCampaigns}}</h4>
        <div class="schedule-container">
            <ul class="schedule-list">
                <li ng-repeat="campaign in campaigns">
                    <img class="thumb" ng-src="{{campaign.images[0].secure_url}}">
                    <div class="campaign-details">
                        <p>
                            <span>{{campaign.name}}</span>
                            <span>{{campaign.description}}</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>