<div ng-controller="ScheduleController" ng-init="init()">
    <div class="add-schedule">
        <h4>{{dict.schedule.scheduleCampaign}}</h4>
        <div class="image-container">
            <ul class="image-list">
                <li ng-repeat="campaign in campaigns">
                    <img class="thumb" ng-src="{{campaign.images[0].secure_url}}">
                    <span>{{campaign.name}}</span>
                    <span>{{campaign.description}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="add-schedule">
        <h4>Schedule a campaign</h4>
    </div>
</div>