<div ng-controller="ScheduleController" ng-init="init()">
    <div class="show-add-schedule" collapse="addSchedule" ng-click="showAddSchedule(true)">{{dict.schedule.scheduleNewCampaign}}</div>
    <div class="heading">
        <span class="campaign">{{dict.schedule.campaign}}</span>
        <span class="start-time">{{dict.schedule.startTime}}</span>
        <span class="end-time">{{dict.schedule.endTime}}</span>
        <span class="controls">{{dict.schedule.controls}}</span>
    </div>
    <div class="show-schedule">
        <div class="create-schedule-container" collapse="!addSchedule">
            <newscheduleitem></newscheduleitem>
        </div>
        <div class="schedule-container">
            <ul class="schedule-list">
                <li ng-repeat="schedule in schedules">
                    <div class="schedule-spec image-container">
                        <img class="thumb" ng-src="{{schedule.campaign[0].images[0].url}}">
                    </div>
                    <div class="schedule-spec schedule-details">
                        <h4>{{schedule.campaign[0].name}}</h4>
                        <h5>{{schedule.campaign[0].description}}</h5>
                    </div>
                    <div class="schedule-spec schedule-time">
                        <h5 class="date-start">
                            <span class="date-start-end top">{{schedule.start| date:"EEE MMM d" }}</span>
                            <span class="date-start-end bottom">{{schedule.start| date:"hh:mm a" }}</span>
                        </h5>
                        <h5 class="date-end">
                            <span class="date-start-end top">{{schedule.end| date:"EEE MMM d" }}</span>
                            <span class="date-start-end bottom">{{schedule.end| date:"hh:mm a" }}</span>
                        </h5>    
                    </div>
                    <div class="schedule-spec schedule-buttons">
                        <button ng-click="deleteSchedule($index)"class="button">Delete</button>
                        <!-- <button class="button">Edit</button> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>