@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
body {
    background-color: #5dace9;
    font-family: 'Archivo Narrow', sans-serif;
}

.nav-tabs {
    border: none;
}

ul, lo {
    margin-bottom: 0px;
    margin-top: 10px;
}

li {
    width: 150px;
    text-align: center;
}

.live-sign-logo {
    font-size: 24px;
    line-height: 32px;
    color: aliceblue;
    width: 300px;
    margin-top: 10px;
}

.tab-content {
    min-height: 600px;
}

.image-container form{
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    width: 100%;
    display: block;
}

.image-container input {
    float: left;
    margin: 0 10px 0 10px;
    width: 300px;
}

.image-container .image-list {
    width: 50%;
    float: left;
}

.image-container .image-list .image-list-container{
    height: 500px;
    overflow: scroll;
}

.image-container .image-list li {
    display: inline-block;
    min-height: 90px;
    width: 90%;
    border-bottom: 1px solid black;
    padding: 10px;
    position: relative;
}

.image-container .image-list .thumb {
    max-width: 100px;
    float: left;
    cursor: pointer;
 }

 .image-container .image-list li.selected {
    background-color: pink;
 }

.image-container .image-list .image-details {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
}

.image-container .image-list .image-details .name {
    cursor: pointer;
}

.image-container .image-list .image-details .date {
    float: right;
}

.image-container .image-list .image-details p {
    clear: both;
}

.image-container .image-list .image-details span {
    float: left;
    font-size: 14px;
}

.image-container .image-list .image-details .size {
    float: right;
}

.image-container .image-preview {
    width: 45%;
    float: left;
    margin: 0 2.5% 2.5% 2.5%;
}

.image-container .image-preview .image-preview-container {
    border: 1px solid black;
    min-height: 350px;
    background-color: #cccccc;
}

.image-container .image-preview img {
    width: 100%;
}
