@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
body {
    background-color: #5dace9;
    font-family: 'Archivo Narrow', sans-serif;
}

.nav-tabs {
    border: none;
}

ul, lo {
    margin-bottom: 0px;
    margin-top: 10px;
}

li {
    width: 150px;
    text-align: center;
}

.live-sign-logo {
    font-size: 24px;
    line-height: 32px;
    color: aliceblue;
    width: 300px;
    margin-top: 10px;
}

.tab-content {
    min-height: 600px;
}

/* image view */

.image-container form{
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    width: 100%;
    display: block;
}

.image-container input {
    float: left;
    margin: 0 10px 0 10px;
    width: 300px;
}

.image-container .image-list {
    width: 50%;
    float: left;
}

.image-container .image-list .image-list-container{
    height: 500px;
    overflow: scroll;
}

.image-container .image-list li {
    display: inline-block;
    min-height: 90px;
    width: 90%;
    border-bottom: 1px solid black;
    padding: 10px;
    position: relative;
}

.image-container .image-list .thumb {
    max-width: 100px;
    float: left;
    cursor: pointer;
 }

 .image-container .image-list li.selected {
    background-color: pink;
 }

.image-container .image-list .image-details {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
}

.image-container .image-list .image-details .name {
    cursor: pointer;
}

.image-container .image-list .image-details .date {
    float: right;
}

.image-container .image-list .image-details p {
    clear: both;
}

.image-container .image-list .image-details span {
    float: left;
    font-size: 14px;
}

.image-container .image-list .image-details .size {
    float: right;
}

.image-container .image-preview {
    width: 45%;
    float: left;
    margin: 0 2.5% 2.5% 2.5%;
}

.image-container .image-preview .image-preview-container {
    border: 1px solid black;
    min-height: 350px;
    background-color: #cccccc;
}

.image-container .image-preview img {
    width: 100%;
}

/* Schedule view */

.new-schedule-item {
    width: 100%;
    display: inline-block;
}

.new-schedule-item .campaign-name-container {
    width: 100%;
    float: left;
    clear: both;
}

.new-schedule-item .campaign-date-container {
    margin-top: 10px;
    float: left;
    width: 75%;
}

.new-schedule-item .campaign-submit-container {
    margin-top: 10px;
    width: 25%;
    float: right;
}

.new-schedule-item .campaign-submit-container button {
    float: right;
}

.new-schedule-item span {
    margin: 0 10px 0 0;
}

.new-schedule-item button {
    margin: 0 10px;
}

.show-schedule {
    width: 90%;
    float: left;
    clear: both;
}

.create-schedule {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 auto;
}

.create-schedule .create-schedule-container {
    height: 100%;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    border: solid 1px black;
    background-color: #cccccc;
}

.create-schedule .create-schedule-container .reveal-date-time {
    margin: 0 10px;
}

.create-schedule .create-schedule-container .date-text {
    width: 30%;
    display: inline-block;
}

.create-schedule .create-schedule-container .campaign-name-dd {
    width: 20%;
}

.show-schedule {
    width: 100%;
    height: 500px;
    overflow: scroll;
}

.show-schedule .schedule-container .schedule-list li {
    float: left;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    border-bottom: 1px solid black;
    margin-top: 10px;
    position: relative;
    text-align: right;
}

.show-schedule .schedule-list .campaign-details {
    width: 85%;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.show-schedule .schedule-list .thumb {
    width: 10%;
    float: left;
    padding: 5px;
}

.show-schedule .schedule-list .campaign-details p {
    clear: both;
}

.show-schedule .schedule-list .campaign-details span {
    float: left;
    font-size: 14px;
}

